<div class="card-container card-bordered" data-ng-class="card.animation_class" id="card">
  <div class="card">
    <div class="card-image">
      <img src="{{card.card_image_url}}" onerror="no_image(this)">
    </div><!--/.card-image -->
    <div class="card-body">
      <div class="card-title">
        <strong>{{card.card_title}}</strong>
      </div><!--/.card-title -->
      <div class="card-description">
        {{card.card_description}}
      </div><!--/.card-description -->
    </div><!--/.card-body -->
  </div><!--/.card -->
  <ul class="card-controls noselect">
    <li><i class="fa fa-chevron-left" title="Prev" data-ng-click="card.fetchCard('prev')"></i></li>
    <li><i class="fa" title="Play\Pause" data-ng-click="card.play()" data-ng-class="card.play_btn_class"></i></li>
    <li><i class="fa fa-chevron-right" title="Next" data-ng-click="card.fetchCard('next')"></i></li>
  </ul><!--/.card-controls -->
  <div class="loading" data-ng-show="card.isLoading">Loading..</div>
</div><!--/.card-container -->