// Variables
$body-font: Helvetica, sans-serif;
$body-font-color: #333;
$body-font-size: 14px;
$box-width: 100px;
$box-height: 100px;
$box-line-height: 30px;
$box-border-width: 1px;
$box-border-style: solid;
$box-border-color: #ddd;

// Style Definition
body {
  font: 100% $body-font;
  color: $body-font-color;
  font-size: $body-font-size;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: $box-width;
  height: $box-height;
  text-align: center;
  
  .box-bordered {
    border: $box-border-width $box-border-style $box-border-color;
  }
}


